<!doctype html>
<title>My application</title>
  <h1>Hello, World!</h1>
  Enter an array of numbers in yaml format and 2 integer values respectively.</br>
  The absolute difference value of 2nd and 3rd forms will be searched in the array.</br>
  If it is found the result is 1.</br>
  It is 0 otherwise</br>
  An example format for the first form is:</br>
  - 20</br>
  - 30</br>
  - 10</br>
    Result is {{result}}

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
        <textarea name="input3" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>